html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header{
  display: flex;
  width:100%;
  height: 150px;
}
.logo1 img{
  display: flex;
  width: 230px;
  margin-left: 180px;
  margin-top: 20px ;
}
.menu a{
  display: flex;
  width: 100px;
  color: rgb(116, 116, 116);
  text-decoration: none;
  padding: 15px;
} 
.menu a:hover{
  color: black;
  transition: 1.8s;
}
.main-menu{
  display: flex;
  position: relative;
}
.menu-subcategories li{
  list-style-type: none;
  
}
.main-menu div{
  margin-left:20px;
  margin-top: 26px;
}
.subcategories {
  display: none;
 
}
.list:hover>.subcategories{
 display:block ;
 position:absolute;
}

.subcategories {
 padding-left: 10px;
}
.menu-subcategories span {
  display: flex;
  margin-left:10px;
  margin-top: 2px;
}
.last-menu{
display:flex;
}
 .last-menu .fa-sharp {
  margin-top: 47px;
  padding: 10px;
  margin-left: 16px;
  text-decoration: none;
  color:rgb(158, 158, 158)
 }
 .last-menu .fa-sharp:hover{
  color: black;
  transition: 1.8s;
 }

 .log-in {
  background-color: rgb(236, 0, 51);
 margin-top: 41px;
  margin-left: 23px;
  margin-bottom: 60px;
  padding: 12px;
  border-radius: 30px;
  color: aliceblue;
  text-decoration: none;
 }
 .log-in .fa-sharp{
  margin-right: 10px;
  margin-top: 5px;
 }
 .cherry{
  width: 150px;
  display: flex;
  background-color: bisque;
  padding: 20px;
  border-radius: 30px;
  margin-left: 180px;
  margin-top: 20px;
  margin-right: 1160px;
  color: rgb(183, 1, 1);
  text-decoration: none;
 }
 .cherry .fa-sharp{
  margin-left: 10px;
  margin-top: 4px;
 }
 .text-1{
  width: 520px;
 font-family: 'Roboto Mono', monospace;
 font-size: 55px;
 margin-left: 180px;
 }
 .text-1 span{
   color: rgb(208, 0, 0);
 }
 .text-2{
  width: 295px;
  margin-left:180px ;
  margin-top:-145px;
  color: rgb(0, 0, 0);
  font:bold;
 }
 .Start{
  margin-left: 180px;
  border-radius: 30px;
  text-decoration: none;
  width: 50px;
  padding:10px;
  background-color:rgb(236, 0, 51) ;
  color: aliceblue;
 }
 .Video span{
  padding:12px;
  height: 16px;
  width: 10px;
  border-radius: 100%;
  margin-left: 5px;
  color: black;
  background-color: yellow;
 }
 .Video{
  margin-left:4px;
  text-decoration: none;
  padding: 10px;
  color:black;
 }
 .img1 img{
display: flex;
width: 450px;
  border-radius: 100%;
  height: 450px;
  margin-left: 805px;
   margin-top:-370px ;
 }
 .text-3{
   color: rgb(236, 0, 51);
   margin-top: 100px;
   margin-left:630px;
   font-weight: bold;
 }
 .text-4 p{
  margin-top: 50px;
  margin-left: 475px;
  width: 600px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0;
 }
 .text-4 span{
  margin-top: -30px;
  margin-left: 550px;
  width: 400px;
  color: black;
  font-weight: bold;
  font-size: 40px;
 }
 .info {
  display: flex;
  margin-left: 150px;
  margin-top: 50px;
 }
 .info div{
  margin-left: 55px;
 }
 .img-2-text-1{
  margin-left: 55px;
  font-size:25px ;
  font-weight: bold;
  margin-top: -5px;
 }
 .img-2-text-2{
  margin-left: 30px;
  margin-top: -20px;

 }
.img-2-text-3 {
  margin-left: 80px;
  margin-top: -15px;
}
.text-5{
  color: rgb(236, 0, 51);
  margin-left: 180px;
  margin-top: 80px;
  font-weight: bold;
}
.text-6{
  margin-top: -10px;
  margin-left: 180px;
  width: 350px;
  font-weight: bold;
  font-size: 30px;
}
.slides{
  display: flex;
  margin-left:1055px;
  margin-top: -75px;
 
}
.slides a{
  width: 30px;
  border-radius: 50%;
  height: 30px;
  margin-left:30px ;
}
.slides .arrow-left{
  background-color: rgb(156, 159, 159);
  color: black;
  padding: 5px;
}
.slides .arrow-right{
  background-color:rgb(236, 0, 51);
  color: rgb(255, 255, 255);
  padding: 5px;
}
.slides .fa-sharp{
  padding: 8px;
}

.scroll{
  overflow-y: auto;
  width: 210px;
  height: 260px;
  margin-left: 180px;
  margin-top: 40px;
}
 
.scroll a{
  display: flex;
  text-decoration: none;
  color: black;
  height: 40px;
  padding: 10px;

}
.scroll li{
  list-style:none;
 padding: 10px;
}
.scroll .fa-sharp{
  margin-right: 5px;
  margin-top: 3px;
}
.scroll a:hover{
  background-color: rgb(236, 0, 51);
  color: azure;
  border-radius: 30px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(237, 237, 237);
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
.scroll::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.img-5{
  display: flex;
  margin-left: 700px;
  margin-top: -270px;
}
.img-5 img{
  height: 300px;
  border-radius:  50px;
  margin-left: 40px;
}

.lastphoto{
  display: flex;
  
  height: 480px;
  margin-left: 180px ;
  margin-top: 80px; 
  width: 20px;
}
.lastphoto img{
  border-radius: 20px;

}
.comment-1{
  display: flex;
 margin-left: 655px;
  font-weight: bold;
  color: rgb(236, 0, 51);
  width: 150px;
  margin-top: -440px;
}
.comment-2{
  margin-top: 0px;
  width: 530px;
  font-weight: bold;
  font-size: 50px;
  margin-left: 655px;
}
.comment-3{
  width:500px ;
  margin-left: 655px;
  margin-top: -35px;
}
.app{
  width: 1050px;
  height: 500px;
  border-radius: 30px;
  margin-left: 200px;
  background-color: rgb(255, 239, 219);
  margin-top: 300px;
}
.app p{
  margin-left: 50px;
}
.app-coment-1{
  color: rgb(236, 0, 51);
  font-weight: bold;
  width: 140px;
  padding-top: 120px;
 
}
.app-coment-2{
  width: 400px;
  font-size: 40px;
  font-weight: bold;
  margin-top: -10px;
}
.app-coment-3{
  width: 390px;
  margin-top: -30px;
  font-weight: bold;
}

.app a{
  display: block;
  width: 130px;
  height: 35px;
  color: white;
  background-color: rgb(236, 0, 51);
  margin-left:40px ;
  margin-top:35px;
  text-decoration: none;
  border-radius: 30px;
  padding-left: 40px;
  padding-top: 15px;
}
.app{
  display: flex;
}
.app-img img{
 width: 275px;
 height: 455px;
  border-radius: 20px;
   margin-left: 215px;
   margin-top: 45px;
}
footer{
  width: 100%;
  margin: 0;
  height: 300px;
}
.footer-first{
  width:260px
}
footer img{
  width: 225px;
  margin-left: 230px;
  margin-top: 100px;
}
.footer-icons {
display: flex;
margin-top: 40px;
margin-left: 275px;
}
.footer-icons a{
  padding-right: 25px;
  font-size: 30px;
  color:black;
}
.footer-last{
  display: flex;
  margin-left: 555px;
  margin-top: -150px
}
.footer-last-1{
  display: flex;
  flex-direction: column;
}
.footer-last div{
  padding-left: 100px;
}
.footer-last a{
  text-decoration: none;
  color: black;
  padding-top: 5px;
  font-size: 15px;
}
